.box1{
    background:rgb(43, 12, 94);
    height: 120px;
}
.redes{
    font-size: 60 !important;
    color: white;
}
.box2{
    background:rgb(43, 12, 94);
    height: 60px; 
}
.texto{
    color: white;
}