.box1{
    background-color: #2a61b3;
    height: 120px;
}
.redes{
    font-size: 60 !important;
    color: white;
}
.box2{
    background-color: #2a61b3; 
    height: 60px; 
}
.texto{
    color: white;
}